<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cadres.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Cadres.My.MySettings>
            <setting name="Coeff0" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Coeff1" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="Coeff2" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="Coeff3" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="Coeff4" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="Coeff5" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="Coeff7" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Coeff8" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="Coeff9" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Coeff10" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="Coeff11" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Coeff12" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Coeff14" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="Coeff15" serializeAs="String">
                <value>285</value>
            </setting>
            <setting name="Coeff16" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Coeff17" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Coeff18" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Coeff19" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="Coeff21" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="Coeff22" serializeAs="String">
                <value>185</value>
            </setting>
            <setting name="Coeff23" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Coeff24" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Coeff25" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Coeff26" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Coeff28" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Coeff29" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="Coeff30" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="Coeff31" serializeAs="String">
                <value>325</value>
            </setting>
            <setting name="Coeff32" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="Coeff33" serializeAs="String">
                <value>340</value>
            </setting>
            <setting name="Coeff34" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Coeff35" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Coeff36" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Coeff37" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="Coeff39" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Coeff40" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="Coeff42" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Coeff43" serializeAs="String">
                <value>290</value>
            </setting>
            <setting name="Coeff44" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="Coeff45" serializeAs="String">
                <value>330</value>
            </setting>
            <setting name="Coeff47" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Coeff48" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Coeff49" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Coeff50" serializeAs="String">
                <value>1</value>
            </setting>
        </Cadres.My.MySettings>
    </userSettings>
</configuration>
